In [28]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from functools import reduce

import pandas as pd
import numpy as np

In [29]:
engine = create_engine('postgresql://localhost:5432/wa_leg_staging')

In [30]:
merged_final_df = pd.read_sql_query('select * from "merged_final"',con=engine)
legislator = pd.read_sql_query('select * from "legislator"',con=engine)

In [10]:
legislator.head()

   id  agency  district first_name  party  last_name
0   7   House        42        Ann      1   Anderson
1   7  Senate        42        Ann      1   Anderson
2  11   House        46     Marlin      0  Appelwick
3  17   House        12      Clyde      1    Ballard
4  23   House        19        Bob      0     Basich

In [5]:
m_current = merged_final_df[merged_final_df['biennium'] == '2017-18']

In [6]:
m_current = m_current[m_current['vote_date'] > '2018-03-01T00:00:00.000000000']

In [7]:
current_legislators = m_current['voter_id'].unique()

In [8]:
current_legislators

array([10031, 24075, 17227,  8317, 15820, 20760,  3469, 26176,  1659,
        8209,  1543,  8237,  2143, 20761, 26175, 26174, 21490, 27988,
       17241, 13198, 23902, 11999, 26169, 18264, 20752,  9996, 16499,
       15822, 20740, 15813, 17219, 17223,  8215, 27522, 26172, 15817,
       14211,  3487, 20753,  5154, 14207, 26168, 26173, 10041,  8235,
        3476, 15818, 17221, 26178, 17213, 14115, 20754, 20741,  1887,
        2144, 20759, 18038, 15097,  7635,  9207, 18546, 14205, 26177,
       20755,  8286, 17158, 16596, 27182, 15706, 18265,  9710, 15736,
        3483, 17224, 13209,  9997, 18057, 14202, 27504, 13577, 10039,
       12017, 15809, 10546, 20756, 17279,  1218, 17243, 15006, 15816,
       27975, 20757, 17218, 26170, 27181, 15810, 16462, 18516, 17217,
         322, 27225, 14208,  8238, 15780, 14083, 15811, 17289, 17759,
       14325,  1407, 17294,   972,  5156, 28022,  3473, 15779,  3474,
       15821, 10030,  2006, 12072,  1577,  5155,  1950, 13199, 21520,
       13546,  8211,  3478, 17226, 13161, 12002, 14074, 15814, 11998,
       27290,   652,   394, 11952, 10249, 12003, 28317,  1232, 12084,
       27211, 20758,  4006])

In [12]:
current_legislator_info = []
for leg in current_legislators:
    leg_row = legislator[legislator['id'] == leg]
    current_legislator_info.append(leg_row)

In [20]:
current_legislator_df = reduce((lambda x, y: x.append(y)), current_legislator_info)

In [21]:
current_legislator_df

        id  agency  district first_name  party   last_name
449  10031   House        23     Sherry      0    Appleton
616  24075   House         2     Andrew      1      Barkis
561  17227   House        11      Steve      0   Bergquist
439   8317   House        19      Brian      0       Blake
540  15820   House        42    Vincent      1        Buys
600  20760   House        26   Michelle      1     Caldier
349   3469   House        15      Bruce      1    Chandler
626  26176   House        24       Mike      0     Chapman
251   1659   House        43      Frank      0       Chopp
421   8209   House        41       Judy      0    Clibborn
254   1543   House        11     Eileen      0        Cody
255   1543   House        34     Eileen      0        Cody
422   8237   House        12       Cary      1    Condotta
332   2143   House        20    Richard      1      DeBolt
601  20761   House        13        Tom      1        Dent
627  26175   House        22       Beth      0      Doglio
628  26174   House        22     Laurie      0       Dolan
615  21490   House         9       Mary      1         Dye
644  27988   House        39    Carolyn      1      Eslick
532  17241   House        27       Jake      0         Fey
529  13198   House        34        Joe      0  Fitzgibbon
617  23902   House        36       Noel      0       Frame
472  11999   House        45      Roger      0     Goodman
629  26169   House         5       Paul      1      Graves
565  18264   House        33        Mia      0   Gregerson
603  20752   House        35        Dan      1     Griffey
453   9996   House         8      Larry      1       Haler
559  16499   House        23       Drew      0      Hansen
544  15822   House        47       Mark      1    Hargrove
604  20740   House        44       Mark      1  Harmsworth
..     ...     ...       ...        ...    ...         ...
479  13161   House        34     Sharon      0      Nelson
480  13161  Senate        34     Sharon      0      Nelson
481  12002   House        43      Jamie      0    Pedersen
482  12002  Senate        43      Jamie      0    Pedersen
500  14074  Senate        40      Kevin      0      Ranker
551  15814   House        18        Ann      1      Rivers
552  15814  Senate        18        Ann      1      Rivers
483  11998   House        23  Christine      0      Rolfes
484  11998  Senate        23  Christine      0      Rolfes
624  27290  Senate        37    Rebecca      0     Saldaña
222    652   House         9       Mark      1   Schoesler
223    652  Senate         9       Mark      1   Schoesler
100    394   House        35        Tim      0     Sheldon
101    394  Senate        35        Tim      0     Sheldon
518  11952   House         7     Shelly      1       Short
519  11952  Senate         7     Shelly      1       Short
464  10249   House        19       Dean      0       Takko
465  10249  Senate        19       Dean      0       Takko
489  12003   House        24      Kevin      0         Van
490  12003  Senate        24      Kevin      0         Van
643  28317  Senate        39      Keith      1     Wagoner
466   1232   House        16    Maureen      1       Walsh
467   1232  Senate        16    Maureen      1       Walsh
491  12084   House        13       Judy      1     Warnick
492  12084  Senate        13       Judy      1     Warnick
625  27211  Senate        41       Lisa      0     Wellman
613  20758   House        17      Lynda      1      Wilson
614  20758  Senate        17      Lynda      1      Wilson
557   4006   House        25       Hans      1      Zeiger
558   4006  Senate        25       Hans      1      Zeiger

[188 rows x 6 columns]

In [22]:
def create_current_legislators_df(merged_final_df, legislator_df, biennium, date):
    '''
    Input
    ------
    merged_final_df: pandas dataframe loaded from wa_leg_staging database, merged_final table
    legislator_df: pandas dataframe loaded from wa_leg_staging database, legislator table
    biennium: str, example: '2017-18'
    date: str, example: '2018-03-01T00:00:00.000000000'
    
    
    Output
    ------
    current_legislator_df: pandas dataframe
    '''
    m_current = merged_final_df[merged_final_df['biennium'] == biennium]
    m_current = m_current[m_current['vote_date'] > date]
    current_legs = m_current['voter_id'].unique()
    
    current_dfs = []
    for leg in current_legs:
        leg_info = legislator_df[legislator_df['id'] == leg]
        current_dfs.append(leg_info)
    
    current_legislator_df = reduce((lambda x, y: x.append(y)), current_dfs)
    return current_legislator_df

In [24]:
cur_leg_df = create_current_legislators_df(merged_final_df, legislator, 
                                           '2017-18','2018-03-01T00:00:00.000000000')

In [31]:
cur_leg_df

        id  agency  district first_name  party   last_name
449  10031   House        23     Sherry      0    Appleton
616  24075   House         2     Andrew      1      Barkis
561  17227   House        11      Steve      0   Bergquist
439   8317   House        19      Brian      0       Blake
540  15820   House        42    Vincent      1        Buys
600  20760   House        26   Michelle      1     Caldier
349   3469   House        15      Bruce      1    Chandler
626  26176   House        24       Mike      0     Chapman
251   1659   House        43      Frank      0       Chopp
421   8209   House        41       Judy      0    Clibborn
254   1543   House        11     Eileen      0        Cody
255   1543   House        34     Eileen      0        Cody
422   8237   House        12       Cary      1    Condotta
332   2143   House        20    Richard      1      DeBolt
601  20761   House        13        Tom      1        Dent
627  26175   House        22       Beth      0      Doglio
628  26174   House        22     Laurie      0       Dolan
615  21490   House         9       Mary      1         Dye
644  27988   House        39    Carolyn      1      Eslick
532  17241   House        27       Jake      0         Fey
529  13198   House        34        Joe      0  Fitzgibbon
617  23902   House        36       Noel      0       Frame
472  11999   House        45      Roger      0     Goodman
629  26169   House         5       Paul      1      Graves
565  18264   House        33        Mia      0   Gregerson
603  20752   House        35        Dan      1     Griffey
453   9996   House         8      Larry      1       Haler
559  16499   House        23       Drew      0      Hansen
544  15822   House        47       Mark      1    Hargrove
604  20740   House        44       Mark      1  Harmsworth
..     ...     ...       ...        ...    ...         ...
479  13161   House        34     Sharon      0      Nelson
480  13161  Senate        34     Sharon      0      Nelson
481  12002   House        43      Jamie      0    Pedersen
482  12002  Senate        43      Jamie      0    Pedersen
500  14074  Senate        40      Kevin      0      Ranker
551  15814   House        18        Ann      1      Rivers
552  15814  Senate        18        Ann      1      Rivers
483  11998   House        23  Christine      0      Rolfes
484  11998  Senate        23  Christine      0      Rolfes
624  27290  Senate        37    Rebecca      0     Saldaña
222    652   House         9       Mark      1   Schoesler
223    652  Senate         9       Mark      1   Schoesler
100    394   House        35        Tim      0     Sheldon
101    394  Senate        35        Tim      0     Sheldon
518  11952   House         7     Shelly      1       Short
519  11952  Senate         7     Shelly      1       Short
464  10249   House        19       Dean      0       Takko
465  10249  Senate        19       Dean      0       Takko
489  12003   House        24      Kevin      0         Van
490  12003  Senate        24      Kevin      0         Van
643  28317  Senate        39      Keith      1     Wagoner
466   1232   House        16    Maureen      1       Walsh
467   1232  Senate        16    Maureen      1       Walsh
491  12084   House        13       Judy      1     Warnick
492  12084  Senate        13       Judy      1     Warnick
625  27211  Senate        41       Lisa      0     Wellman
613  20758   House        17      Lynda      1      Wilson
614  20758  Senate        17      Lynda      1      Wilson
557   4006   House        25       Hans      1      Zeiger
558   4006  Senate        25       Hans      1      Zeiger

[188 rows x 6 columns]

In [26]:
con = engine.connect()

In [27]:
cur_leg_df.to_sql('current_legislator', con, if_exists='replace', index=False)

In [89]:
CUR_legislator = pd.read_sql_query('select * from "current_legislator"',con=engine)

In [90]:
len(CUR_legislator)

147

In [39]:
# CUR_legislator